.main{
  /* display:flex; */
  /* justify-content: center; */
  /* width:90vw; */
  /* max-height: 90vh; */
  /* position:fixed; */
}
.container{
  overflow-y: scroll;
  display:flex;
  width:100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.container::-webkit-scrollbar{
  display:none;
}
.navContainer{
  width:90vw;
}